name: CI
on:
  push:
    branches: [ main ]
    paths:
      - src/**
      - tests/**
      - .github/**
      - typst.toml
      - demo/**
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Typst
        uses: typst-community/setup-typst@v4
        with:
          cache-dependency-path: ci/requirements.typ

      - name: Install tytanic
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: tytanic@0.3.1

      - name: Run test suite
        run: tt run

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 5
